/* Basic sample */

body{
	overflow:hidden;
	background-color:#fcfcfc;
	margin:0;
	padding:0;
  background: url('../images/bg.jpg');
  font-size: 16px;
}

.flipbook-viewport{
	overflow:hidden;
	width:100%;
	height:100%;
}

.flipbook-viewport .container{
	position:absolute;
	top:50%;
	left:50%;
	margin:auto;
}

.flipbook-viewport .flipbook{
	width:960px;
	height:600px;
	left:-461px;
	top:-300px;
}

.flipbook-viewport .page{
	width:480px;
	height:600px;
	background-color:white;
	background-repeat:no-repeat;
	background-size:100% 100%;
}

.flipbook .page{
	-webkit-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-moz-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-ms-box-shadow:0 0 20px rgba(0,0,0,0.2);
	-o-box-shadow:0 0 20px rgba(0,0,0,0.2);
	box-shadow:0 0 20px rgba(0,0,0,0.2);
  background: #c4c9c5;
  article {
    padding: 10px;
    font-family: Lato;
    p::first-letter {
      padding-left: 20px;
    }
  }
}

.flipbook-viewport .page img{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	margin:0;
  width: 100%;
}

.flipbook-viewport .shadow{
	-webkit-transition: -webkit-box-shadow 0.5s;
	-moz-transition: -moz-box-shadow 0.5s;
	-o-transition: -webkit-box-shadow 0.5s;
	-ms-transition: -ms-box-shadow 0.5s;

	-webkit-box-shadow:0 0 20px #ccc;
	-moz-box-shadow:0 0 20px #ccc;
	-o-box-shadow:0 0 20px #ccc;
	-ms-box-shadow:0 0 20px #ccc;
	box-shadow:0 0 20px #ccc;
}
/*======================================================
                        FRONT PAGE
=======================================================*/
.flipbook .front-page {
  h1 {
    background: #ffba27;
    color: #333;
    margin: 0;
    padding: 40px;
    font-size: 32px;
  }
  h2 {
    color: #b35118;
  }
  img {
    width: 100%;
  }
  p {
    font-size: 20px;
    font-weight: bold;
  }
}
.video-page {
  text-align: center;
}
/*======================================================
                        BUTTON
=======================================================*/
.custom-btn {
	font-size: 18px;
  background: #ffba27;
	text-decoration: none;
	padding: 0.75em 3em;
	color: #333;
	display: inline-block;
	overflow: hidden;
	position: relative;
	border-radius: 5px;
	transition: all .2s ease-in-out;
  font-weight: bold;
  margin-top: 30px;
}
.custom-btn:before {
	content: "";
	height: 100%;
	width: 3em;
	background: rgba(255,255,255,0.5);
	display: block;
	position: absolute;
	top: 0;
	left: -4.4em;
	transform: skewX(-45deg);
}
.custom-btn:hover {
	text-decoration: none;
}
.custom-btn:hover:before {
	transform: skewX(-45deg) translate(25em,0);
	transition: all 0.5s ease-in-out;
}
